html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

body{
    background-color: #151515f5;
    width: 100%;
    max-width: 100%;
}

th,
td {
    padding: 15px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}

td:hover {
    background-color: cornflowerblue;
    color: aliceblue;
}

th {
    background-color: rgb(31, 129, 209);
    color: aliceblue;
}

h1[class]{
    color: #fafafa;
}

header {
    font-family: Montserrat;
}

main,
footer {
    font-family: Montserrat;
    color: #fafafa;
}
.about_us ul li{
    list-style-type: disc;
}
.nav-bar__list ul li {
    list-style-type: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000000;
    background-color: rgba(23, 23, 23, 0.747);
}
.logo_part {
    display: flex;
    align-items: center;
}
.logo_part img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.logo_part h1 {
    font-size: 24px;
    margin: 0;
}
.nav-bar {
    position: relative;
}
.nav-bar__list {
    list-style: none;
    display: flex;
}
.nav-bar__item {
    margin-left: 10px;
}
.nav-bar__item a {
    height: 30px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
.nav-bar-list-main-c{
    float: left;
    display: inline-flex;
    margin: 1em;
    list-style-type: none;   
     
}
.nav-bar-list-main-c a{
    text-decoration: none;
    color: #fafafa;
    padding-left: 20px;
}
.nav-bar-list-main-c a:hover {
    text-decoration: underline;
}

.animat_button {
    display: inline-block;
    border-radius: 25px;
    background-color: #1e74f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
}
#anim_but2{
    background-color: #701ef4;
}
.animat_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.animat_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.animat_button:hover span {
    padding-right: 25px;
}
.animat_button:hover span:after {
    opacity: 1;
    right: 0;
}
.about_me a {
    color: #9debff;
    text-decoration: none;
    font-size: 14px;
}
.about_me a:hover{
    text-decoration: underline;
}
.nav-bar{
    margin-right: 3%;
}
header {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    height: 64px;
    background-color: rgba(23, 23, 23, 0.62);
    backdrop-filter: blur(4px);
    box-shadow: unset;
}
.logo_part{
    margin-left: 50px;
}
.carousel-donate-items {
    display: flex;
    width: 60%;
    height: 500px;
    overflow: hidden;
}
.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-donate {
    flex: 0 0 100%;    
    transition: transform 0.5s;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.carousel-controls button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 180px;    
    color: #fafafa;
    margin-top: 100px;
}

.carousel-donate-items {
    display: flex;
    overflow: hidden;
    align-items: center;    
}

.item-donate {
    height: 100%;
    width: 60%;    
    flex-shrink: 0;    
    transition: transform 0.5s;
    display: flex;
    flex-wrap: wrap;
}

.item-donate-content {
    flex: 1; 
    width: 75%;   
    height: 80%;
    background-color: transparent;
    box-shadow: 0 0px 28px rgba(255, 61, 87, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
    transition: all 0.5s;
}
#first-donate{
    box-shadow: 0 0px 28px rgba(255, 61, 87, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
#first-donate:hover{    
    box-shadow: 0 0px 28px rgba(255, 61, 87, 0.6), 0 0px 10px rgba(0, 0, 0, 0.22);
}

#second-donate {
    box-shadow: 0 0px 28px rgba(145, 61, 255, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
#second-donate:hover {
    box-shadow: 0 0px 28px rgba(145, 61, 255, 0.6), 0 0px 10px rgba(0, 0, 0, 0.22);
}

#third-donate {
    box-shadow: 0 0px 28px rgba(61, 255, 197, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
#third-donate:hover {
    box-shadow: 0 0px 28px rgba(61, 255, 197, 0.6), 0 0px 10px rgba(0, 0, 0, 0.22);
}

.donate-top-text{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}


.vertical-slider {
    position: fixed;
    top: 50%;
    /* Положение слайдера по вертикали */
    right: 10px;
    /* Положение слайдера по горизонтали */
    transform: translateY(-50%);
    /* Выравнивание по вертикали по центру */
    background-color: #202020;
    width: 20px;
    /* Ширина слайдера */
    border-radius: 30px;
}

.slider-track {
    width: 100%;
    height: 100%;
    background-color: #222222;
    border-radius: 10prgb(32, 32, 32);
    border-radius: 20px;
}

/* Стили для ползунка (бара) на слайдере */
.slider-thumb {
    background-color: #333;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}


.scroll-button {
    background-color: #242424;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0;
}

.scroll-button:hover {
    transition: 1s;
    background-color: #555;
    border-radius: 20px;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #272727;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: #3d3d3d;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
    border-radius: 20px;
}
.item-donate-content {
    animation: float 6s infinite ease-in-out alternate;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
        /* Поднимается на 10px */
    }
}
.about_me{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(23, 23, 23, 0.747);
}

.footer-section{
    display: flex;
    background-color: rgba(23, 23, 23, 0.747);
    width: 100%;
    height: 70px;
    justify-content: space-between;    
}
.about_me{
    width: 20%;
}
.footer-links{
    background-color: rgba(23, 23, 23, 0.747);
    width: 80%;
    display: inline-block;
    
}
.footer-links-list{
    list-style-type: none;
    display: inline-block; 
    padding-top: 0px;;
    margin-left: 70%;
}
.footer-links-list a{
    color: #fafafa;
    text-decoration: none;
}
.footer-links ul  li {
    padding-left: 10px;
     display: inline-block;
}
.footer-links-list a:hover{
    text-decoration: underline;
}
.footer-section img, .footer-section svg{
    margin-top: 10px;
}
.links-content{
    height: 100%;
    display: flex;
    align-items: center;
}
.links-content a{
    padding-top: 10px;
    padding-left: 5px;
    align-items: center;
}
.links-content svg, .links-content img{
    margin-top: 15px;
    margin-bottom: 15px;
}
.donate-frame-content{
    height: 90%;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
}
.donate-type-content{
    width: 30%;
    margin-left: 10%;
}
.donate-type-content p{
    font-size: 200px;
}
.donate-type-description {
    width: 70%;
    margin-right: 10%;
    margin-left: 15%;
    position: relative;
    background-color: rgba(23, 23, 23, 0.747);
    border-radius: 0px;
    
}
.donate-type-description-text{
    padding: 10px;
}
.donate-type-description {
    box-shadow: -20px 20px 0 -17px rgba(23, 23, 23, 0.747),
        20px -20px 0 -17px rgba(23, 23, 23, 0.747),
        20px 20px 0 -20px #852323,
        0 0 0 2px #852323;
}
.VIP-text::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    left: 12%;
    border-radius: 20xp;
    bottom: 27%;
    background: #db3434;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.VIP-text:hover::before {
    transform: scaleX(1);
    border-radius: 20px;
    transform-origin: bottom left;
}
#second-donate .VIP-text::before{
    background-color: #701ef4;
    width: 48%;
        height: 3px;
        left: 9%;
        border-radius: 20xp;
        bottom: 34%;
}
#second-donate .donate-type-description {
    box-shadow: -20px 20px 0 -17px rgba(23, 23, 23, 0.747),
        20px -20px 0 -17px rgba(23, 23, 23, 0.747),
        20px 20px 0 -20px #562385,
        0 0 0 2px #562385;
}
#third-donate .VIP-text::before {
    background-color: #1ef490;
    width: 49%;
    height: 3px;
    left: 9%;
    border-radius: 20xp;
    bottom: 35%;
}

#third-donate .donate-type-description {
    box-shadow: -20px 20px 0 -17px rgba(23, 23, 23, 0.747),
        20px -20px 0 -17px rgba(23, 23, 23, 0.747),
        20px 20px 0 -20px #238564,
        0 0 0 2px #238564;
}
#third-donate .VIP-text p{
    font-size:100px;    
}
#second-donate .VIP-text p{
    font-size: 120px;
}
#second-donate .donate-type-content {
    margin-left: 5%;
}
#third-donate .donate-type-content {    
    margin-left: 5%;
}
#third-donate .donate-type-description, #second-donate .donate-type-description{
    margin-left: 30%;
    margin-right: 5%;
}

#first-donate{
    background: linear-gradient(rgba(78, 21, 21, 0.336), rgba(48, 48, 48, 0.164));
}
#second-donate{
    background: linear-gradient(rgba(52, 21, 78, 0.336), rgba(48, 48, 48, 0.164));
}
#third-donate {
    background: linear-gradient(rgba(21, 78, 69, 0.336), rgba(48, 48, 48, 0.164));
}
.main-part-info-1{
    width: 100%;
    height: 40em;
    background-color: rgba(23, 23, 23, 0.473);
    display: flex;
}
.main-part-info-1 #left{
    background-color: rgba(23, 23, 23, 0.473);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-part-content{
    justify-content: center;
    align-items: center;
}
.left-img-content{
    width: 100%;
    height: 100%;
}
.img-container{
    width: 100%;    
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.img-container div{
    margin: 2em;
    background-color: #1ef490;
    height: 9em;
    width: 9em;
}
#d1, #d1 img{
    border-top-left-radius: 50px;
}
#d3{
    border-top-right-radius: 50px;
}
#d7{
    border-bottom-left-radius: 50px;
}
#d9{
    border-bottom-right-radius: 50px;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-container div[id]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
}

.img-container div[id]:hover::after {
    background: rgba(0, 0, 0, 0.5);    
}
html {
    scroll-behavior: smooth;
}