body{
    font-size: 40px;
    float: left;
}
table {
    width: 1905px;
}
th {
    width: 1905px;
}
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}
#first{
    width: 1905px;
    background-color: blue;
    color: white;
}
.f1{
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.f3 {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#third {
    max-width: 1905px;
    max-height: 400px;
    background-color: blue;
    color: white;
}
 
.f5, .f4, .f2 {
    background-color: yellow;
    color: black;
    
    margin-top: 440px;
    margin-bottom: 250px;
}
.f4{
    background-color: white;
}
.span5, .span4,.span2{
    margin-left: 70px;
}

#four{
    width: 1100px;
}
#second {
    width: 400px;
    background-color: yellow;
    color: black;
}
#five{
    max-width: 10px;
    background-color: yellow;
    color: black;
}